{% extends "layout.html" %}
{% import "macros/navigation.html" as navigation %}
{% import "macros/user_column.html" as user_column %}
{% import "macros/user_menu.html" as user_menu %}
{% block title %}{{ member | display_name }}{% endblock title %}
{% block navigation %}
  {% if user %}
    {{ navigation::connected(user=user) }}
  {% else %}
    {{ navigation::disconnected() }}
  {% endif %}
{% endblock navigation %}
{% block content %}
  <main class="container">
    <div class="row my-5">
      <div class="col-3">
        {{ user_column::column(member=member, user=user, is_followed=is_followed) }}
      </div>
      <div class="col-9">
        <nav>
          {{ user_menu::menu(username=member.username, active_tab="overview") }}
        </nav>
      </div>
    </div>
  </main>
{% endblock content %}
